/* General Layout */

router-outlet ~ * {
  display: flex;
  height: calc(100vh - 56px);
  overflow: hidden;
  flex-direction: column;
}

app-list {
  padding: .5rem;
  overflow: auto;
}

app-filters {
  padding: .5rem;
}

app-pagination {
  padding: .5rem;
}

/* Hide arrows in number fields */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Images */

img.img-thumbnail {
  max-width: 50px;
}

/* Nav */

.navbar-nav .nav-link:not(:last-of-type) {
  border-right: 1px solid var(--bs-gray-300);
}

/* Code */

.emgithub-file {
  display: flex !important;
  flex-direction: column-reverse;
  margin-top: 0 !important;
}

.emgithub-file .file-meta {
  font-size: 105% !important;
}
